<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>検索プログラム</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/styles.css}">
</head>
<body>
    <h2>検索プログラム</h2>
    <div th:text="${error}" style="color: red;"></div>
    <form id="searchForm"  method="post">
        <!-- 所有者グループのラベルと選択肢 -->
        <label for="ownerGroup">所有者グループ:</label>
        <select id="ownerGroup" name="ownerGroup">
            <option value=""></option>
            <option value="Group1">Group1</option>
            <option value="Group2">Group2</option>
            <option value="Group3">Group3</option>
        </select>

        <!-- アドレス帳名のラベルと入力フィールド -->
        <label for="addressBookName">アドレス帳名:</label>
        <input type="text" id="addressBookName" name="addressBookName">

        <!-- 登録者のラベルと入力フィールド -->
        <label for="reporter">登録者:</label>
        <input type="text" id="reporter" name="reporter" readonly>
        <button type="button" id="selectUser">ユーザー選択</button>
        <button type="button" id="clearReporter">クリア</button>

        <!-- 更新者のチェックボックス -->
        <label><input type="checkbox" id="checkBox"> 更新者</label>

        <!-- 検索ボタンとクリアボタン -->
        <button type="button" id="search">検索</button>
        <button type="button" id="clear" onclick="clearFields()">クリア</button>
        <button type="button" id="add" onclick="addinfo()">増加</button>
    </form>
    
  <div id="reportersDialog">
    <div id="reportersDialogContent">
        <h3>報告者を選択</h3>
        <div id="reportersForm" th:fragment="getReporters">
            <div th:each="item,state:${list1}">
                <input type="radio" class="reporterRadio" name="reporterRadioGroup" value="" > <!-- ラジオボタンを使用 -->
                <label th:text="${item.reporter}">この報告者を選択</label> <!-- ラジオボタンのラベル -->
            </div>
        </div>
        <button type="button" id="confirmSelectionBtn">確定</button>
    </div>
</div>

    <!-- 検索結果を表示するコンテナ -->
    <div id="searchResults">
        <table id="searchResultsTable" border="1" th:fragment="dataList">
        <thead>
            <!-- テーブルのヘッダー -->
            <tr>
                <th>リスト</th>
                <th>編集</th>
                <th>表示項目</th>
                <th>アドレス帳名</th>
                <th>所有者グループ名</th>
                <th>更新日時</th>
                <th>削除</th>
                <th>更新</th>
            </tr>
        </thead>
        <tbody>
            <!-- テーブルのデータ -->
            <tr th:each="item,state:${list}">
                <th><span th:text="${item.id}"></span></th>
                <th><button>編集</button></th>
                <th><span th:text="${item.project}"></span></th>
                <th><span th:text="${item.addressBookName}"></span></th>
                <th><span th:text="${item.ownerGroup}"></span></th>
                <th><span th:text="${item.createDate}"></span></th>
                <th><button th:onclick="'deleteitem('+${item.id}+')'">削除</button></th>
                <th><button th:onclick="'changeitem('+${item.id}+')'">更新</button></th>
            </tr>
         </tbody>
        </table>
    </div>
    
    <!-- jQueryのCDNを読み込む -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- フォームをクリアするJavaScript関数 -->
    <script>
    $(document).ready(function() {
        // ページの読み込みが完了したら、AJAXリクエストを送信する
        $.ajax({
            url: 'http://localhost:8080/init', // バックエンドからデータを初期化するURL
            type: 'POST', // データを取得するためにGETメソッドを使用
            success: function(data) {
            	$("#searchResultsTable").html(data);
            },
            error: function(xhr, status, error) {
                // リクエストが失敗した場合の処理
                console.error('Error initializing data:', error);
            }
        });
    });

    $("#search").click(() => {
        const url = `http://localhost:8080/search`;
        const data = {
        	    ownerGroup: $('#ownerGroup').val(),
        	    addressBookName: $('#addressBookName').val(),
        	    reporter: $('#reporter').val()
        	};

        $.ajax({
            url: url,
            type: 'POST',
            data: JSON.stringify(data),
            contentType : 'application/json;charset=utf-8',
            success: function (data, status, xhr) {
                console.log("====バックエンドからのデータ開始====");
                console.log(data);
                console.log("====バックエンドからのデータ終了====");

                $("#searchResultsTable").html(data);
           
            }
        });
    }); 
    
    $("#selectUser").click(()=>{
    	$("#reportersDialog").show();
    	const url = `http://localhost:8080/getReporters`;
    	$.ajax({
            url: url,
            type: 'POST',
            contentType : 'application/json;charset=utf-8',
            success: function (data, status, xhr) {
                console.log("====バックエンドからのデータ開始====");
                console.log(data);
                console.log("====バックエンドからのデータ終了====");
                $("#reportersForm").html(data);
            }
        });
    });
    $("#confirmSelectionBtn").click(function(){
        // 選択した報告者の値を取得する
        var selectedReporter = $("input[name='reporterRadioGroup']:checked").next('label').text();
        // 選択した報告者の値を入力フィールドに表示する
        $("#reporter").val(selectedReporter);
        // ダイアログを閉じる
        $("#reportersDialog").hide();
    });
    
    $("#clearReporter").click(function(){
    	$('#reporter').val('');
    });
    function clearFields(){
        // 全てのフォームフィールドをクリアする


        // 検索結果テーブルの内容をクリアする
        $('#searchResultsTable tbody').empty();
    }
    
    function addinfo(){
    	location.href='[[@{/add}]]';
    }
    
    function deleteitem(id){
    	if(window.confirm('削除してもよろしいですか?')){
    		location.href='[[@{/delete?id=}]]'+id;
    	}
    }
    function changeitem(id){    	
    		location.href='[[@{/change?id=}]]'+id;
    }
    
    </script>
</body>
</html>
