<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>Login</h2>
    <div th:text="${errorMessage}" style="color: red;"></div>
    <form id="login-form" th:action="@{search1}" method="post">
        <table border="0" class="form_table">
            <tr>
                <td valign="middle" align="right">Username:</td>
                <td valign="middle" align="left">
                    <input type="text" class="inputgri" name="username">
                </td>
            </tr>
            <tr>
                <td valign="middle" align="right">Password:</td>
                <td valign="middle" align="left">
                    <input type="password" class="inputgri" name="password">
                </td>
            </tr>       
        </table>
        <p>
            <button type="submit" id="login-btn">Login</button>
            <button type="button" id="reset-btn" onclick="goreset()">Goto Reset</button>
        </p>
    </form>
</body>
<script>
	function goreset(){
		location.href = '[[@{/reset}]]'
	}

</script>
</html>
