<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>Login</h2>
    <!-- エラーメッセージを表示するディビジョン -->
    <div th:text="${errorMessage}" style="color: red;"></div>
    <form id="login-form" th:action="@{search1}" method="post">
        <table border="0" class="form_table">
            <tr>
                <!-- ユーザー名の入力 -->
                <td valign="middle" align="right">ユーザー名:</td>
                <td valign="middle" align="left">
                    <input type="text" class="inputgri" name="username">
                </td>
            </tr>
            <tr>
                <!-- パスワードの入力 -->
                <td valign="middle" align="right">パスワード:</td>
                <td valign="middle" align="left">
                    <input type="password" class="inputgri" name="password">
                </td>
            </tr>       
        </table>
        <!-- ログインボタンとリセットボタン -->
        <p>
            <button type="submit" id="login-btn">ログイン</button>
            <button type="button" id="reset-btn" onclick="goreset()">リセットへ</button>
        </p>
    </form>
</body>
<script>
    // リセットボタンがクリックされた場合の処理
	function goreset(){
		location.href = '[[@{/reset}]]'
	}
</script>
</html>
